{% extends "layouts.html" %}

{% block header %}
<title>{%block title%}Verify{%endblock%}</title>
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form action="{{url_for('forgot_password')}}" method="post">
                <h3 class="display-4">Enter your Email to change the password</h3>
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter email" autocomplete="off" required>
                <button class="btn btn-primary" type="submit">Submit</button>
                <p style="color: red;">{{dne}}</p>
            </form>
            <form action="{{url_for('changepassword')}}" method="post">
                <h3 class="display-4">We have send an otp to {{mail}}.</h3>
                <label for="otp">OTP:</label>
                <input type="text" name="otp" required placeholder="Enter OTP">
                <button class="btn btn-primary" type="submit">submit</button>
                {% if otp != user_otp %}
                    <p style="color: red;">Enter the correct otp</p>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}